
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="question-answer">
        <blockquote>
          <p><%= @query %></p>
          <footer>You</footer>
        </blockquote>
        <blockquote>
          <p><%= @answer %></p>
          <footer>Your coach</footer>
        </blockquote>
        <%= link_to "Ask a new question", ask_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
